In [1]:
#Dependencies:
import pandas as pd

In [2]:
# Load in file
olympic_data = "olympic_data.csv"

In [5]:
# Read and display the CSV with Pandas
olympic_data_df = pd.read_csv(olympic_data)
olympic_data_df.head(20)

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Stockholm,1912,G,Hannes KOLEHMAINEN,FIN,31:20.8
1,M,10000M Men,Stockholm,1912,S,Lewis TEWANIMA,USA,32:06.6
2,M,10000M Men,Stockholm,1912,B,Albin STENROOS,FIN,32:21.8
3,M,10000M Men,Antwerp,1920,G,Paavo NURMI,FIN,31:45.8
4,M,10000M Men,Antwerp,1920,S,Joseph GUILLEMOT,FRA,31:47.2
5,M,10000M Men,Antwerp,1920,B,James WILSON,GBR,31:50.8
6,M,10000M Men,Paris,1924,G,Ville RITOLA,FIN,30:23.2
7,M,10000M Men,Paris,1924,S,Edvin WIDE,SWE,30:55.2
8,M,10000M Men,Paris,1924,B,Eero BERG,FIN,31:43.0
9,M,10000M Men,Amsterdam,1928,G,Paavo NURMI,FIN,30:18.8
10,M,10000M Men,Amsterdam,1928,S,Ville RITOLA,FIN,30:19.4
11,M,10000M Men,Amsterdam,1928,B,Edvin WIDE,SWE,31:00.8
12,M,10000M Men,Los Angeles,1932,G,Janusz KUSOCINSKI,POL,30:11.4
13,M,10000M Men,Los Angeles,1932,S,Volmari ISO-HOLLO,FIN,30:12.6
14,M,10000M Men,Los Angeles,1932,B,Lauri VIRTANEN,FIN,30:35.0
15,M,10000M Men,Berlin,1936,G,Ilmari SALMINEN,FIN,30:15.4
16,M,10000M Men,Berlin,1936,S,Arvo ASKOLA,FIN,30:15.6
17,M,10000M Men,Berlin,1936,B,Volmari ISO-HOLLO,FIN,30:20.2
18,M,10000M Men,London,1948,G,Emil ZÃTOPEK,TCH,29:59.6
19,M,10000M Men,London,1948,S,Alain MIMOUN,FRA,30:47.4