In [2]:
#Dependencies:
import pandas as pd

In [3]:
# Load in file
olympic_data = "olympic_data.csv"

In [4]:
# Read and display the CSV with Pandas
olympic_data_df = pd.read_csv(olympic_data)
olympic_data_df.head()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Stockholm,1912,G,Hannes KOLEHMAINEN,FIN,31:20.8
1,M,10000M Men,Stockholm,1912,S,Lewis TEWANIMA,USA,32:06.6
2,M,10000M Men,Stockholm,1912,B,Albin STENROOS,FIN,32:21.8
3,M,10000M Men,Antwerp,1920,G,Paavo NURMI,FIN,31:45.8
4,M,10000M Men,Antwerp,1920,S,Joseph GUILLEMOT,FRA,31:47.2

In [7]:
# Create individual dataframes for each events
m_highjump_df = olympic_data_df.loc[olympic_data_df["Event"] == "High Jump Men"]
w_highjump_df = olympic_data_df.loc[olympic_data_df["Event"] == "High Jump Women"]
m_discus_df = olympic_data_df.loc[olympic_data_df["Event"] == "Discus Throw Men"]
w_discus_df = olympic_data_df.loc[olympic_data_df["Event"] == "Discus Throw Women"]
m_100_df = olympic_data_df.loc[olympic_data_df["Event"] == "100M Men"]
w_100_df = olympic_data_df.loc[olympic_data_df["Event"] == "100M Women"]
m_10000_df = olympic_data_df.loc[olympic_data_df["Event"] == "10000M Men"]
w_10000_df = olympic_data_df.loc[olympic_data_df["Event"] == "10000M Women"]
m_800_df = olympic_data_df.loc[olympic_data_df["Event"] == "800M Men"]
w_800_df = olympic_data_df.loc[olympic_data_df["Event"] == "800M Women"]